.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}

.navbar a {
    font-size: 20px;
    color: #ADA8B6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #2F947C;
}

.logo {
    font-size: 30px;
    color: #E6E1C5;
    text-decoration: #2F947C;
    font-weight: 600;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Background styling */
span.s1 {
    position: absolute;
    top: 0;
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3C4447;
}

span.s2 {
    font-weight: 800;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
    text-transform: uppercase;
    color: #3C4447;
}

/* Body styling */
body {
    background-color: #2c343f;
    font-family: 'Roboto', sans-serif;
}

/* Card styling */
.card {
    position: relative;
    height: 420px;
    width: 900px;
    margin: 200px auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.xard{
    position: relative;
    height: 500px;
    width: 980px;
    margin: 200px auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Thumbnail image on the left */
.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 272px;
    width: 530px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
/* For larger images */
.thumb {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 305px;
    width: 530px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Right side content */
.right {
    margin-left: 590px;
    margin-right: 20px;
}

h1 {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #4B4B4B;
}

.author {
    background-color: #2F947C;
    height: 30px;
    width: 155px;
    border-radius: 20px;
}

.author > img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

h2 {
    padding-top: 8px;
    margin-right: 6px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

.separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
}

/* Date of release */
h5 {
    position: absolute;
    left: 30px;
    bottom: -120px;
    font-size: 6rem;
    color: #C3C3C3;
}

h6 {
    position: absolute;
    left: 30px;
    bottom: -55px;
    font-size: 2rem;
    color: #C3C3C3;
}

/* Action buttons */
ul {
    margin-left: 250px;
}

li {
    color: #7B7B7B;
    display: inline;
    list-style: none;
    padding-right: 40px;
}

/* Floating action button */
.fab {
    position: absolute;
    right: 50px;
    bottom: -40px;
    box-sizing: border-box;
    padding-top: 18px;
    background-color: #2F947C;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.clear {
  clear: both;
}
img {
  max-width: 100%;
  border: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #2F947C;
}
h1 {
    margin-top: -100px;
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
button {
  outline: none !important;
}

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
  color: #c8c3c3;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 90px;
  background: #2F947C;
}

/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar .lefta {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        z-index: 1;
        transition: 0.3s;
    }

    .navbar .lefta a {
        display: block;
        padding: 15px;
        color: #fff;
        text-align: center;
        font-size: 16px;
    }

    .navbar .lefta.active {
        display: flex;
    }
}

/* fotter */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
   */
  .footer-distributed{
      background: #2c343f;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 18px;
      font-weight: normal;
      margin: 0;
  }

  .footer-link a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #3BBA9C;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding-left: 10px;
}

.footer-link a:hover {
    color: white;
}

.footer-link a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.footer-link a:hover::before {
    width: 100%;
}

  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }

  .footer-link a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #3BBA9C;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    padding-left: 20px;
}

.footer-link a:hover {
    color: white;
}

.footer-link a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.footer-link a:hover::before {
    width: 100%;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #2F947C;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

#goToTopBtn:hover {
    background-color: #3BBA9C;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

  